<body>
<nav class="nav-bar">


   <div id="circle-start" (click)="startPauseTimer(taskSelected)">
    <i id="btnStartPause" class="fa fa-play fa-2x" aria-hidden="true"></i>
   </div>
</nav>
<div class="content">
  <div class="left-bar">
  </div> 
  <div class="right-bar">
      <div class="tasks" *ngFor="let task of lsTasks" (click)="selectTask(task.idTask)">
        <h3 class="task-title">{{task.nameTask}}</h3>
        <p class="taskTrack">{{formatTime(task.totalTime)}}</p>
      </div>
  </div>
</div>
</body>